<div class="flex h-screen bg-gray-100">
  <div class="w-full max-w-2xl m-auto bg-[var(--light)] rounded p-5">   
    <header>
      <img class="w-20 mx-auto mb-5" src="../../assets/images/logo.png" />
    </header>   
    <form>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <div>
          <label class="block mb-2 text-[var(--primary)]" for="first-name">Nombre</label>
          <input class="w-full p-2 text-[var(--primary)] border-b-2 border-[var(--primary)] outline-none focus:bg-[var(--light)]" type="text" name="first-name" id="first-name">
        </div>
        <div>
          <label class="block mb-2 text-[var(--primary)]" for="last-name">Apellido</label>
          <input class="w-full p-2 text-[var(--primary)] border-b-2 border-[var(--primary)] outline-none focus:bg-[var(--light)]" type="text" name="last-name" id="last-name">
        </div>
        <div>
          <label class="block mb-2 text-[var(--primary)]" for="birth-date">Fecha de Nacimiento</label>
          <input class="w-full p-2 text-[var(--primary)] border-b-2 border-[var(--primary)] outline-none focus:bg-[var(--light)]" type="date" name="birth-date" id="birth-date">
        </div>
        <div>
          <label class="block mb-2 text-[var(--primary)]" for="identification">Identificación</label>
          <input class="w-full p-2 text-[var(--primary)] border-b-2 border-[var(--primary)] outline-none focus:bg-[var(--light)]" type="text" name="identification" id="identification">
        </div>
        <div>
          <label class="block mb-2 text-[var(--primary)]" for="contact">Contacto</label>
          <input class="w-full p-2 text-[var(--primary)] border-b-2 border-[var(--primary)] outline-none focus:bg-[var(--light)]" type="tel" name="contact" id="contact">
        </div>
        <div>
          <label class="block mb-2 text-[var(--primary)]" for="email">Correo Electrónico</label>
          <input class="w-full p-2 text-[var(--primary)] border-b-2 border-[var(--primary)] outline-none focus:bg-[var(--light)]" type="email" name="email" id="email">
        </div>
      </div>

      <div class="mt-6">          
        <input class="w-full bg-[var(--primary)] hover:bg-[var(--dark)] text-white font-bold py-2 px-4 mb-6 rounded" type="submit" value="Registrarse">
      </div>       
    </form>  

    <footer>
      <button class="text-[var(--primary)] hover:text-[var(--secondary)] text-sm float-right" (click)="goToLogin()">Iniciar Sesion</button>
    </footer>   
  </div>
</div>
