<div class="w-full max-w-2xl m-auto bg-green-100 rounded p-5">
    <header>
      <img class="w-20 mx-auto mb-5" src="../../../assets/images/logo.png" />
    </header>
    <form>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <div>
          <label class="block mb-2 text-green-700" for="first-name">Nombre</label>
          <input class="w-full p-2 text-green-700 border-b-2 border-green-500 outline-none focus:bg-green-300" type="text" name="first-name" id="first-name">
        </div>
        <div>
          <label class="block mb-2 text-green-700" for="last-name">Apellido</label>
          <input class="w-full p-2 text-green-700 border-b-2 border-green-500 outline-none focus:bg-green-300" type="text" name="last-name" id="last-name">
        </div>
        <div>
          <label class="block mb-2 text-green-700" for="email">Correo Electrónico</label>
          <input class="w-full p-2 text-green-700 border-b-2 border-green-500 outline-none focus:bg-green-300" type="email" name="email" id="email">
        </div>
        <div>
          <label class="block mb-2 text-green-700" for="contact">Contacto</label>
          <input class="w-full p-2 text-green-700 border-b-2 border-green-500 outline-none focus:bg-green-300" type="tel" name="contact" id="contact">
        </div>
        <div>
          <label class="block mb-2 text-green-700" for="dog-name">Nombre de la mascota</label>
          <input class="w-full p-2 text-green-700 border-b-2 border-green-500 outline-none focus:bg-green-300" type="text" name="dog-name" id="dog-name" value="ASLAN" readonly>
        </div>
        <div>
          <img src="../../assets/images/perro3.png" alt="">
        </div>
       
      </div>
  
      <div class="mt-6">
        <input class="w-full bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 mb-6 rounded" type="submit" value="Adoptar">
      </div>
    </form>
  

  </div>
  