<div class="w-80% max-w-4xl mx-auto bg-[var(--light)] rounded-lg p-6 shadow-lg">
  <header class="text-center">
    <img class="w-24 mx-auto mb-5" src="../../assets/images/logo.png" alt="Logo">
  </header>

  <form [formGroup]="DenunciaForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="first-name">Nombre</label>
        <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
               type="text" id="first-name" formControlName="nombre">
      </div>
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="last-name">Apellido</label>
        <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
               type="text" id="last-name" formControlName="apellido">
      </div>
    </div>
  
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 mt-6">
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="email">Correo Electrónico</label>
        <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
               type="email" id="email" formControlName="email">
      </div>
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="contact">Contacto</label>
        <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
               type="tel" id="contact" formControlName="contacto">
      </div>
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="date">Fecha</label>
        <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
               type="date" id="date" formControlName="fecha">
      </div>
    </div>
  
    <div class="mt-6">
      <label class="block mb-2 text-[var(--dark)]" for="address">Dirección</label>
      <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
             type="text" id="address" formControlName="direccion">
    </div>
  
    <div class="mt-6">
      <label class="block mb-2 text-[var(--dark)]" for="complaint">Ingrese la Denuncia</label>
      <textarea class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
                id="complaint" formControlName="datos" rows="4"></textarea>
    </div>
    <div class="">
      <label class="block mb-2 text-[var(--dark)]">Adjuntar Archivos</label>
      <div class="relative h-10 rounded-lg border-dashed border-2 border-[var(--primary)] bg-gray-100 flex justify-center items-center cursor-pointer">
        <div class="absolute flex flex-col items-center">
          <i class="fa fa-folder-open fa-3x text-[var(--primary)]"></i>
          <span class="block text-gray-400 text-sm">Arrastra aquí o haz clic para subir</span>
        </div>
        <input type="file" class="absolute inset-0 opacity-0 cursor-pointer" (change)="onFileChange($event)" multiple>
      </div>

      <!-- Lista de archivos cargados -->
      <ul class=" text-[var(--dark)] text-sm space-y-2">
        <li *ngFor="let file of files">{{ file.name }} ({{ (file.size / 1024).toFixed(2) }} KB)</li>
      </ul>
    </div>


    <div class="mt-6">
      <button type="submit" class="w-full bg-[var(--primary)] hover:bg-[var(--dark)] text-white font-bold py-3 rounded-lg transition">
        Denunciar
      </button>
    </div>
  </form>
  
</div>
