<div class="w-80% max-w-4xl mx-auto bg-[var(--light)] rounded-lg p-6 shadow-lg">
  <header class="text-center">
    <img class="w-24 mx-auto mb-5" src="../../assets/images/logo.png" alt="Logo">
  </header>

  <form [formGroup]="DenunciaForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="first-name">Nombre</label>
        <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
               type="text" id="first-name" formControlName="nombre">
      </div>
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="last-name">Apellido</label>
        <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
               type="text" id="last-name" formControlName="apellido">
      </div>
    </div>
  
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 mt-6">
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="email">Correo Electrónico</label>
        <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
               type="email" id="email" formControlName="email">
      </div>
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="contact">Contacto</label>
        <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
               type="tel" id="contact" formControlName="contacto">
      </div>
      <!-- <div>
        <label class="block mb-2 text-[var(--dark)]" for="date">Fecha</label>
        <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
               type="date" id="date" formControlName="fecha">
      </div> -->
    </div>
  
    <div class="mt-6">
      <label class="block mb-2 text-[var(--dark)]" for="address">Dirección</label>
      <input class="w-full p-3 border-2 border-[var(--primary)] rounded-lg outline-none focus:ring-2 focus:ring-[var(--primary)] transition" 
             type="text" id="address" formControlName="direccion">
    </div>

    <h2>Mascota</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-6">
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="pet-name">Nombre de la Mascota</label>
        <label for="">{{mascota?.nombre}}</label>
      </div>
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="age">Edad</label>
        <label for="">{{mascota?.edad}}</label>

      </div>
      <div>
        <label class="block mb-2 text-[var(--dark)]" for="character">Caracter</label>
        <label for="">{{mascota?.caracter}}</label>

      </div>
    </div>


    <div class="mt-6">
      <button type="submit" class="w-full bg-[var(--primary)] hover:bg-[var(--dark)] text-white font-bold py-3 rounded-lg transition">
        Adoptars
      </button>
    </div>
  </form>
  
</div>
