<div class="flex h-screen bg-gray-100">
  <div class="w-full max-w-xs m-auto bg-[var(--light)] rounded p-5">   
      <header>
        <img class="w-20 mx-auto mb-5" src="../../assets/images/logo.png" />
      </header>   
      <form>
        <div>
          <label class="block mb-2 text-[var(--primary)]" for="username">Usuario</label>
          <input class="w-full p-2 mb-6 text-[var(--primary)] border-b-2 border-[var(--primary)] outline-none focus:bg-[var(--light)]" type="text" name="username">
        </div>
        <div>
          <label class="block mb-2 text-[var(--primary)]" for="password">Clave</label>
          <input class="w-full p-2 mb-6 text-[var(--primary)] border-b-2 border-[var(--primary)] outline-none focus:bg-[var(--light)]" type="password" name="password">
        </div>
        <div>          
          <input class="w-full bg-[var(--primary)] hover:bg-[var(--dark)] text-white font-bold py-2 px-4 mb-6 rounded" type="submit">
        </div>       
      </form>  
      <footer>
        <button class="text-[var(--primary)] hover:text-[var(--secondary)] text-sm float-left" href="#">Olvidaste la Clave?</button>
        <button class="text-[var(--primary)] hover:text-[var(--secondary)] text-sm float-right" (click)="goToHome()">Crea una Cuenta</button>
      </footer>   
  </div>
</div>
