<div class="flex h-screen bg-gray-100">
    <div class="w-full max-w-xs m-auto bg-green-100 rounded p-5">   
        <header>
          <img class="w-20 mx-auto mb-5" src="../../assets/images/logo.png" />
        </header>   
        <form>
          <div>
            <label class="block mb-2 text-green-700" for="username">Usuario</label>
            <input class="w-full p-2 mb-6 text-green-700 border-b-2 border-green-500 outline-none focus:bg-green-300" type="text" name="username">
          </div>
          <div>
            <label class="block mb-2 text-green-700" for="password">Clave</label>
            <input class="w-full p-2 mb-6 text-green-700 border-b-2 border-green-500 outline-none focus:bg-green-300" type="password" name="password">
          </div>
          <div>          
            <input class="w-full bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 mb-6 rounded" type="submit">
          </div>       
        </form>  
        <footer>
          <button class="text-green-700 hover:text-green-500 text-sm float-left" href="#">Olvidaste la Clave?</button>
          <button class="text-green-700 hover:text-green-500 text-sm float-right" (click)="goToHome()">Crea una Cuenta</button>
        </footer>   
    </div>
  </div>
  