<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <div class="p-16">
      <div class="mb-16">
        <a href="/admin/inicio" class="d-flex align-items-center">
          <img src="assets/images/logo.png" class="w-28" alt="">
        </a>

      </div>

      <div class="pt-8">
        <ul>
          <li class="list-group mb-2" *ngFor="let sidenav of sidebarMenu">
            <a matRipple [matRippleColor]="'#f7f8f443'" routerLink="{{ sidenav.link }}"
              class="sidebar-menu w-100 d-flex align-items-center" [routerLinkActive]="routerActive">
              <i-feather name="{{ sidenav.icon }}" class="feather-base me-12"></i-feather> <span
                class="ps-4">{{ sidenav.menu }}</span>
            </a>
          </li>
        </ul>
      </div>

      
    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Header -->
    

    <!-- Content -->
    <div class="body-wrapper">
      <div class="page-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>

    <p class="text-center pb-24 fs-16">© 2025 Todos los derechos reservados <a
        href="https://www.uniandes.edu.ec/" target="_blank"
        class="text-indigo">Uniandes</a></p>

  </mat-sidenav-content>

</mat-sidenav-container>



